section.section-error
  .section-error__inner.container
    .row
      .col-12.col-lg-5.order-2.order-lg-1
        .section-error__nav
          .footer__logo
            a(href="/").logo.gohome
              span.logo__text Изумрудный город

          ul.footer__menu.footer__menu-nav
            li.footer__menu-item
              a(href="#about") О проекте
            li.footer__menu-item
              a(href="#plans") Планировки
            li.footer__menu-item
              a(href="#vantage") Преимущества
            li.footer__menu-item
              a(href="#location") Расположение
            li.footer__menu-item
              a(href="#gallery") Галерея

          a.footer__phone(href="tel:8(800)600-43-35") 8 (800) 600-43-35
          a.footer__email(href="mailto:info@izumrudgorod-sochi.ru") info@izumrudgorod-sochi.ru

      .col-12.col-lg-7.col-xl-6.d-flex.justify-content-center.justify-content-lg-end.align-items-center.order-1.order-lg-2
        .section-error__info
          .section-error__title 404
          .section-error__subtitle Ой, ошибка!
          .section-error__desc Вернитесь на главную страницу

          a.section-error__gohome.btn-sec(href="/") Вернуться на главную