section.advantages#vantage
  .container
    h2.advantages__title.title Преимущества

    .row.justify-content-between
      .col-md-5.col-lg-4
        ul.advantages__nav.nav(role="tablist")
          li.advantages__nav-item.nav-item
            a.advantages__nav-link.active(href="#t_1", data-toggle="tab", role="tab", aria-selected="true") Видовые таунхаусы

          li.advantages__nav-item.nav-item
            a.advantages__nav-link(href="#t_2", data-toggle="tab", role="tab", aria-selected="false") Экологичность

          li.advantages__nav-item.nav-item
            a.advantages__nav-link(href="#t_3", data-toggle="tab", role="tab", aria-selected="false") Центральные коммуникации

          li.advantages__nav-item.nav-item
            a.advantages__nav-link(href="#t_4", data-toggle="tab", role="tab", aria-selected="false") Развитая инфраструктура

          li.advantages__nav-item.nav-item
            a.advantages__nav-link(href="#t_5", data-toggle="tab", role="tab", aria-selected="false") Максимальный комфорт

          li.advantages__nav-item.nav-item
            a.advantages__nav-link(href="#t_6", data-toggle="tab", role="tab", aria-selected="false") Безопасная территория

      .advantages__content.col-md-7
        .tab-content
          .tab-pane.fade.show.active(id="t_1", role="tabpanel")
            button.advantages__collapse(data-target="#c_1", data-toggle="collapse") Видовые таунхаусы
            .advantages__collapse-content(id="c_1")
              figure.advantages__img
                img(src="static/images/content/sec3-1.jpg", alt="Близость к морю")
                figcaption.advantages__img-caption Видовые таунхаусы
              .advantages__desc
                p Таунхаусы разработаны по индивидуальному проекту и представляют собой трехэтажные здания прямоугольной формы. В комнатах предусмотрены выходы на балконы с панорамным видом.

          .tab-pane.fade(id="t_2", role="tabpanel")
            button.advantages__collapse(data-target="#c_2", data-toggle="collapse") Экологичность
            .advantages__collapse-content(id="c_2")
              figure.advantages__img
                img(src="static/images/content/sec3-2.jpg", alt="Видовые таунхаусы")
                figcaption.advantages__img-caption Экологичность
              .advantages__desc
                p Элитный коттеджный поселок расположен на территории национального парка рядом с горным озером и рекой Дагомыс.

          .tab-pane.fade(id="t_3", role="tabpanel")
            button.advantages__collapse(data-target="#c_3", data-toggle="collapse") Центральные коммуникации
            .advantages__collapse-content(id="c_3")
              figure.advantages__img
                img(src="static/images/content/sec3-3.jpg", alt="Центральные коммуникации")
                figcaption.advantages__img-caption Центральные коммуникации
              .advantages__desc
                p Проведены все центральные коммуникации включая газ. Комплекс будет оборудован собственной аварийной подстанцией для предотвращения сбоев электроснабжения. Также проводятся линии интернет соединения и кабельного HD телевидения.

          .tab-pane.fade(id="t_4", role="tabpanel")
            button.advantages__collapse(data-target="#c_4", data-toggle="collapse") Развитая инфраструктура
            .advantages__collapse-content(id="c_4")
              figure.advantages__img
                img(src="static/images/content/sec3-4.jpg", alt="Развитая инфраструктура")
                figcaption.advantages__img-caption Развитая инфраструктура
              .advantages__desc
                p В комплексе оборудован гостевой паркинг, детская и спортивная площадки, зона отдыха, бассейн и торгово-административный центр. КП «Берег» расположен в 15 км от центра Сочи. Добраться до клубного посёлка легко как на общественном транспорте, так и на личном.

          .tab-pane.fade(id="t_5", role="tabpanel")
            button.advantages__collapse(data-target="#c_5", data-toggle="collapse") Максимальный комфорт
            .advantages__collapse-content(id="c_5")
              figure.advantages__img
                img(src="static/images/content/sec3-5.jpg", alt="Максимальный комфорт")
                figcaption.advantages__img-caption Максимальный комфорт
              .advantages__desc
                p На территории поселка располагаются собственная прогулочная набережная реки, детский и взрослый бассейны, беседки и патио для отдыха жильцов.

          .tab-pane.fade(id="t_6", role="tabpanel")
            button.advantages__collapse(data-target="#c_6", data-toggle="collapse") Безопасная территория
            .advantages__collapse-content(id="c_6")
              figure.advantages__img
                img(src="static/images/content/sec3-6.jpg", alt="Безопасная территория")
                figcaption.advantages__img-caption Безопасная территория
              .advantages__desc
                p Закрытая территория, въезд через КПП с индивидуальными или гостевыми карточками. Установлена круглосуточная система видеонаблюдения без «мертвых зон», трехуровневая система контроля. 




