.documents {
	padding-top: 70px;
	padding-bottom: 140px;
	&__item {
		text-decoration: none;
		color: inherit;
		width: 350px;
		border: 1px solid #333333;
		border-radius: 5px;
		padding: 30px 24px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&:nth-child(n + 4) {
			margin-top: 30px;
		}
		p {
			margin-bottom: 0;
		}
		svg {
			width: 20px;
			height: 25px;
			transition: all 0.3s ease 0s;
		}
		&:hover {
			text-decoration: none;
			color: inherit;
			svg {
				fill: #329aab;
			}
		}
		&:active {
			svg {
				fill: #0e4665;
			}
		}
	}
	&__desc {
		font-size: 16px;
		line-height: 22px;
		color: #2e2e2e;
		letter-spacing: 0.03em;
		margin-bottom: 32px;
	}
	&__items {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

@media (max-width: 1199px) {
	.documents-item__title {
		font-size: 14px;
	}
	.documents__items {
		justify-content: space-evenly;
	}
	.documents__item {
		flex: 0 1 50%;
		max-width: 350px;
		width: 100%;
		&:nth-child(n + 4) {
			margin-top: 0;
		}
		&:nth-child(-n + 4) {
			margin-bottom: 30px;
		}
	}
}
@media (max-width: 991px) {
	.documents__item {
		max-width: 300px;
		height: 120px;
	}
}
@media (max-width: 767px) {
	.documents__item {
		align-items: center;
		flex: 0 1 100%;
		max-width: 100%;
		&:last-child {
			margin-top: 30px;
		}
	}
}
