.documents#documents
	.container
		h2.documents__title.title Наши документы
		p.documents__desc Земля находится в полной собственности застройщика и объект строится в полном соответствии со всеми федеральными и региональными законами.
		.documents__items
			a(href="./static/documents/arhitekturnii-proekt.pdf" download="" title="Скачать").documents__item
				p Архитектурный проект
				+icon("docs-arrow")
			a(href="" download="" title="Скачать").documents__item
				p Карточка предприятия
				+icon("docs-arrow")
			a(href="./static/documents/razreshenie-na-stroitelstvo.pdf" download="" title="Скачать").documents__item
				p Разрешение на строительство
				+icon("docs-arrow")
			a(href="./static/documents/gradostroitelnii-plan.pdf" download="" title="Скачать").documents__item
				p Градостроительный план
				+icon("docs-arrow")
			a(href="" download="" title="Скачать").documents__item
				p Постановка на учет
				+icon("docs-arrow")
			a(href="" download="" title="Скачать").documents__item
				p Регистрация юр. лица
				+icon("docs-arrow")

