section.help
	.container
		.help-info
			h2.help-info__title.title Получите подборку таунхаусов 
				span(style="white-space: nowrap;") и скидку 
					b 100 000₽ 
				| на покупку
			p.help-info__txt Пройдите минутный опрос и мы подберем подходящие дома. Бронируем денежный бонус за каждым участником.

			a.help-info__btn.btn-sec.btn-sec_light(href="#popup:marquiz_5f27e66431cf9e00441cfe2b") Пройти опрос