footer.footer.footer_error
  .container
    .footer__bottom.section-error-menu
      ul.footer__menu.footer__menu-nav
        li.footer__menu-item
          a(href="#about") О проекте
        li.footer__menu-item
          a(href="#vantage") Преимущества
        li.footer__menu-item
          a(href="#plans") Планировки
        li.footer__menu-item
          a(href="#location") Расположение
        li.footer__menu-item
          a(href="#gallery") Галерея
      
      .footer__copyright Изумрудный город © 2020