.footer {
	background-color: $secondary-light;

	&__left {
		margin-top: -36px;
		padding: 95px;
		padding-right: 30px;
		color: $white;
		background-color: $secondary;
	}

	&__logo {
		margin-bottom: 24px;
		img {
			width: 83px;
			height: 70px;
		}
	}

	&__menu {
		margin: 0;
		margin-bottom: 90px;
		padding: 0;
		list-style-type: none;

		&-item {
			margin-bottom: 16px;

			a {
				color: rgba(255, 255, 255, 0.6);
				transition: color 0.2s;

				&:hover {
					color: $white;
					text-decoration: none;
				}
			}
		}
	}

	&__phone,
	&__email {
		display: block;
		color: $white;
		font-size: 24px;
		font-weight: normal;
		line-height: 140%;
		transition: color 0.2s;

		&:hover {
			color: rgba(255, 255, 255, 0.6);
			text-decoration: none;
		}
	}

	&__phone {
		margin-bottom: 6px;
	}

	&__form {
		padding: 0 48px;
	}
}

@media (max-width: 991px) {
	.footer {
		&__left {
			padding: 60px 20px;
		}

		&__logo {
			font-size: 24px;
		}

		&__menu {
			margin-bottom: 38px;

			&-item {
				margin-bottom: 14px;
			}
		}

		&__phone,
		&__email {
			font-size: 18px;
		}

		&__phone {
			margin-bottom: 12px;
		}

		&__form {
			padding: 0 15px;
		}
	}
}

@media (max-width: 767px) {
	.footer {
		overflow: hidden;

		&__form {
			padding: 36px 0;
		}

		&__left {
			position: relative;
			margin-top: 0;
			padding: 36px 0;

			* {
				position: relative;
			}

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				width: 200vw;
				height: 100%;
				background-color: $secondary;
				z-index: 0;
			}
		}
	}
}
