section.about#about
	.container
		.row.justify-content-between
			.about__img.col-md-6.col-lg-5
				img(src="static/images/content/sec2.jpg", alt="")
				
			.col-md-6.col-xl-6
				.about-info
					h2.about-info__title.title О проекте
					.about-info__txt
						p КП «Берег» — это закрытый коттеджный поселок, расположенный на берегу реки в Дагомысе, Лазаревского района города Сочи. 
						p Отличительной чертой поселка является реализованная концепция «город в городе»: современная инфраструктура для отдыха и жизни в пределах территории

					.about-info__img
						img(src="static/images/content/sec2.jpg", alt="")

				.about-advantages.row
					.col-6
						.about-advantages__item
							b.about-advantages__item-title 15 <span>мин</span>
							.about-advantages__item-text до <span style="white-space: nowrap">центра Сочи</span>
					.col-6
						.about-advantages__item
							b.about-advantages__item-title 71 429 ₽
							.about-advantages__item-text мин. цена за м<sup>2</sup>
					.col-6
						.about-advantages__item
							b.about-advantages__item-title 3.1 <span>м</span>
							.about-advantages__item-text высота потолков
					.col-6
						.about-advantages__item
							b.about-advantages__item-title 55
							.about-advantages__item-text домов в поселке

