section.vantage#vantage
  .container
    header.vantage__header
      h2.vantage__title.title Преимущества

      .vantage__header-options
        button(type="button").vantage__prev.advantages-controls__btn
          +icon("prev")
        button(type="button").vantage__next.advantages-controls__btn
          +icon("next")

    .vantage__slider
      .vantage__slider-item
        .vantage__slider-inner
          .vantage__slider-img
            img(src="static/images/content/sec2-1.jpg", alt="")
          h4.vantage__slider-title Морской отдых в 12 минутах
          p.vantage__slider-desc Прогулка в 12 минут приведет вас к одному из лучших пляжей Сочи: широкий и чистый, с мелкой галькой, пологим входом в воду, а также множеством развлечений для всей семьи.
      .vantage__slider-item
        .vantage__slider-inner
          .vantage__slider-img
            img(src="static/images/content/sec2-2.jpg", alt="")
          h4.vantage__slider-title Школа и десткий сад на территории
          p.vantage__slider-desc Расстояние до школы всего 700 метров, а до детского садика и того меньше - 500. Время, которое вы тратили на дорогу до школы, можно будет потратить на себя — разве не замечательно?
      .vantage__slider-item
        .vantage__slider-inner
          .vantage__slider-img
            img(src="static/images/content/sec2-3.jpg", alt="")
          h4.vantage__slider-title Собственная набережная
          p.vantage__slider-desc Рядом с комплексом вы найдете набережную, выйти к которой можно с территории двора. Место идеально подходит для пробежек или прогулок на свежем воздухе, а вид не оставит равнодушным.
      .vantage__slider-item
        .vantage__slider-inner
          .vantage__slider-img
            img(src="static/images/content/sec2-4.jpg", alt="")
          h4.vantage__slider-title Двор для отдыха, спорты и игр
          p.vantage__slider-desc Во дворе комплекса каждый найдет себе занятие по душе: прогулки по набережной, отдых в беседках и занятия спортом в фитнес-клубе. А в это время ваши дети будут веселиться на спортивных и игровых площадках.
      .vantage__slider-item
        .vantage__slider-inner
          .vantage__slider-img
            img(src="static/images/content/sec2-5.jpg", alt="")
          h4.vantage__slider-title Магазины на первом этаже
          p.vantage__slider-desc Мы ценим время и комфорт жителей, из-за чего отдали нижние этажи жилого комплекса под коммерцию. Здесь вы найдете различные магазины, химчистку, салоны красоты и другие нужные места.
      .vantage__slider-item
        .vantage__slider-inner
          .vantage__slider-img
            img(src="static/images/content/sec2-6.jpg", alt="")
          h4.vantage__slider-title Безопасность и охрана
          p.vantage__slider-desc По всему периметру территории расположено видеонаблюдение. Каждый житель может подключиться к online-камерам при помощи специального приложения для мобильных устройств. 

    footer.vantage__footer
      button(type="button").vantage__prev.advantages-controls__btn
        +icon("prev")
        span Назад
      button(type="button").vantage__next.advantages-controls__btn
        span Вперед
        +icon("next")
