section.gallery#gallery
  .container
    header.gallery__header
      h2.gallery__title.title Галерея
      .gallery__header-options
        button.gallery__prev.btn-controls
          +icon("arrow-left")
        button.gallery__next.btn-controls
          +icon("arrow-right")

    .gallery__slider
      .gallery__slider-item
        .gallery__slider-img
          img(src="static/images/content/sec4-1.jpg", alt="")
      .gallery__slider-item
        .gallery__slider-img
          img(src="static/images/content/sec4-2.jpg", alt="")
      .gallery__slider-item
        .gallery__slider-img
          img(src="static/images/content/sec4-3.jpg", alt="")
      .gallery__slider-item
        .gallery__slider-img
          img(src="static/images/content/sec4-4.jpg", alt="")
      .gallery__slider-item
        .gallery__slider-img
          img(src="static/images/content/sec4-5.jpg", alt="")
      .gallery__slider-item
        .gallery__slider-img
          img(src="static/images/content/sec4-6.jpg", alt="")
      .gallery__slider-item
        .gallery__slider-img
          img(src="static/images/content/sec4-7.jpg", alt="")
      .gallery__slider-item
        .gallery__slider-img
          img(src="static/images/content/sec4-8.jpg", alt="")
      .gallery__slider-item
        .gallery__slider-img
          img(src="static/images/content/sec4-9.jpg", alt="")
      .gallery__slider-item
        .gallery__slider-img
          img(src="static/images/content/sec4-10.jpg", alt="")
      .gallery__slider-item
        .gallery__slider-img
          img(src="static/images/content/sec4-11.jpg", alt="")
      .gallery__slider-item
        .gallery__slider-img
          img(src="static/images/content/sec4-12.jpg", alt="")
      .gallery__slider-item
        .gallery__slider-img
          img(src="static/images/content/sec4-13.jpg", alt="")
      .gallery__slider-item
        .gallery__slider-img
          img(src="static/images/content/sec4-14.jpg", alt="")
      .gallery__slider-item
        .gallery__slider-img
          img(src="static/images/content/sec4-15.jpg", alt="")


    footer.gallery__footer
      button(type="button").gallery__prev.btn-controls
        span.gallery__prev-img
          +icon("arrow-left")
        span Назад
      button(type="button").gallery__next.btn-controls
        span Вперед
        span.gallery__next-img
          +icon("arrow-right")