section.video#video
  .container
    h2.video__title.title Видеообзор

    .video__video
      iframe(src="https://www.youtube.com/embed/W83LxChomqA?rel=0", poster="./static/images/general/poster.jpg", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
      //- .video__video-poster