section.stock#stock
  .container
    h2.stock__title.title АКЦИЯ
    p.stock__desc <span style="font-weight: 500;">До 1 августа</span> квартиры <span style="font-weight: 500;">от 2 000 000₽</span>
    button.stock__order.btn-sec(data-toggle="modal", data-target="#modal-stock", onclick="yaCounter65244991.reachGoal('aktsia_zapros'); gtag('event', ' aktsia', { 'event_category': 'uznat_stoimost', 'event_action': 'click' }); gtag('event', 'page_view', { 'page_path': '/aktsia-form' });")
      +icon("arrow-right")
      span Оставить заявку