.check {
  display: inline-flex;
  align-items: center;
  margin: 0;

  &__box {
    margin-right: 16px;
    width: 16px;
    height: 16px;
    background-color: $white;
  }

  &__input {
    position: absolute;
    margin: -1px;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);

    &:checked + .check__box {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMiAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwLjUgMUw0LjMwNzI2IDguNTg3MjFMMS41IDUuNSIgc3Ryb2tlPSIjMzMzMzMzIiBzdHJva2Utd2lkdGg9IjEuMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+Cjwvc3ZnPgo=");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

@media (max-width: 767px) {
  .check {
    &__box {
      margin-right: 8px;
    }
  }
}